.activityData div {
  margin: 0 0 5rem;
  float: left;
  width: 50%;
}

.activityData div img {
  height: 5.5rem;
  width: 5.5rem;
  margin: 0 5rem;
}

.activityData div span {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}