.goalForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}

.goalInput {
  width: 20rem;
  height: 5rem;
}

label, .submitButton {
  padding: 2rem;
}

.react-datepicker {
  font-size: 1.5rem;
}

.react-datepicker__month-container {
  width: 20rem;
}

.react-datepicker__header {
  padding-top: 2rem;
}
