.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  height: 7vh;
  background-color: rgba(27,31,57);
  padding: 2rem;
  z-index: 1000;
}

.headerItem {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  margin: 0;
}