a {
  margin: 10rem 0;
}

button {
  background: rgba(228, 65, 4);
  color: white;
  border: none;
  border-radius: 6px;
  height: 5rem;
  width: 20rem;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.loginButton {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-size: 2rem;
}