.profile {
  height: 100vh;
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  flex-direction: column;
  background: rgba(38,43,73);
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  color: white;
}

.profile div {
  padding: 1rem;
}

.userName h2 {
  font-size: 3rem;
}

.menuSelect {
  cursor: pointer;
}

.userHeightWeight {
  margin: 4rem 0;
}

.navlink, .addSleepGoal {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  color: white;
}