.dashboard {
  background-color: rgba(236,236,236);
  /* background-image:
    -webkit-linear-gradient(
      top,
      rgba(0,0,0,1) 0%,
      rgba(0,0,0,0.8) 20%,
      rgba(0,0,0,0.6) 40%,
      rgba(0,0,0,0.4) 60%,
      rgba(0,0,0,0.2) 80%,
      rgba(0,0,0,0.1) 100%),
    url('../imgs/home-2.jpg') !important; */
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  float: right;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 1000;
}

/* #mountain {
  background-image:
    -webkit-linear-gradient(
      top,
      rgba(244,244,244,1) 0%,
      rgba(31,33,50,1) 5%,
      rgba(244,244,244,0.7) 10%,
      rgba(244,244,244,0.6) 20%,
      rgba(244,244,244,0.5) 30%,
      rgba(244,244,244,0.4) 40%,
      rgba(244,244,244,0.3) 50%),
      url('../imgs/dashboard-1.jpg') !important;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  float: right;
  top: 37em;
  min-height: 100vh;
  min-width: 100vw;
  z-index: -1;
} */
