@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

.dateform {
  position: absolute;
  right: 2em;
  top: 0.7em;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  border-radius: 3em;
}

#label {
  color: white;
  font-size: 1.2em;
}
