@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900,900i');

#header-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 7vh;
  background-color: rgba(27,31,57);
  z-index: 1000;
}

#header-1 img {
  position: absolute;
  float: left;
  left: 2em;
  bottom: 1em;
  height: 4.5vh;
  width: 2.5vw;
}

#date, #date-of-sleep {
  position: absolute;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  color: white;
}

#date-input {
  float: right;
  top: 0;
  right: 0;
}

#insights {
  position: absolute;
  float: left;
  left: 3.5em;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: white;
}
