#flyout-menu {
  width: 10vw;
  height: 40vh;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
}

#flyout-menu.hide {
  transform: translate3d(-100vw, 0, 0);
}

#flyout-menu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

#flyout-menu a {
  color: white;
  text-decoration: none;
}

#flyout-menu a:hover {
  text-decoration: none;
}

/* menu buttons */
.grid-user {
  padding: 6em 0em 0em 1.5em;
  font-size: 1.15em;
}

.grid-chart {
  padding: 2em 0em 0em 1.5em;
  font-size: 1.15em;
}

i {
  color: white;
}

#user {
  background-color: rgba(61, 66, 195);
}

#chart {
  background-color: rgba(228, 65, 4);
}
