@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900,900i');

.App {
  /* text-align: center; */
  /* background-color: rgba(199, 66, 67); */
  height: 100vh;
  position: relative;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Home Page */
.welcome {
  background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
    ),
    url('./imgs/home-1.jpeg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
  }

.title {
  display: block;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 30em;
  left: 10em;
}

#title-1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 10.5em;
  background: url('./imgs/background.jpg') no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* profile info */
.profile {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url('./imgs/profile.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  float: left;
  /* margin-top: 2em; */
  /* margin-left: 2em; */
  height: 100vh;
  width: 20vw;
}

#biometrics {
  /* margin-bottom: 5em; */
  display: grid;
  margin-top: -20em;
  line-height: 3em;
  font-weight: 400;
  font-size: 1.2em;
  font-weight: 700;
}

#name {
  font-size: 2.5em;
  font-weight: 700;
  margin-left: 0.65em;
  overflow: hidden;
}

#photo {
  height: 6em;
  width: 6em;
  padding: 0.5em;
}

.navlink {
  color: white;
}

/* Cards */
.sleep-card, .goal-card, .heart-card, .efficiency-card {
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  color: black;
  background-color: white;
  height: 20em;
  width: 20em;
  margin-top: 5em;
  margin-left: 5em;
  /* border: 0.5em solid white; */
  /* border-radius: 50%; */
  box-shadow: 0.3em 0.5em 0.3em rgba(0,0,0,0.1);
  padding: 1em;
  /* opacity: 0.7; */
}

.card-title {
  position: absolute;
  font-size: 1.5em;
  margin-left: 2.5em;
}

#piechart {
  position: absolute;
  margin-left: -13em;
  margin-top: -5em;
}

.grid-container {
  display: grid;
  grid-template-columns: 25em 25em 25em;
  grid-template-rows: 25em 25em;
}

#moon, #goal, #heart {
  max-width: 6em;
  max-height: 6em;
}
