@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900,900i');

.App {
  height: 100vh;
}

/* nomatch */
.no-match {
  background-image: url('./images/cat.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  z-index: -1
}

#break, #go-back {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 5em;
  color: white;
  top: 2em;
  left: 1em;
  position: fixed;
  z-index: 1;
}

#go-back {
  font-size: 2em;
  top: 8em;
  left: 5em;
}

.back {
  color: rgba(253,173,32);
}

.navlink:hover {
  color: white;
}
