@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

.App {
  text-align: center;
  background-color: rgba(199, 66, 67);
  height: 100vh;
  position: relative;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.profile {
  float: left;
  margin-top: 1em;
  margin-left: 1.5em;
  height: 95vh;
  width: 20vw;
  padding: 25px 25px 25px 25px;
  background-color: white;
}

.progress-bar {
  margin: auto;
  justify-content: center;
  align-items: center;
}

/* body {
  background-image: url('./imgs/background.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  font-family: 'Staatliches', cursive;
} */


/* Home Page */
.title {
  font-family: 'Fugaz One', cursive;
  font-size: 5em;
  color: white;
  position: relative;
  top: 5em;
  margin-left: 0.3em;
}

/* Cards */
.sleep-card {
  /* padding: 20px 20px 20px 20px;
  background-color: white; */
}

/* Forms */
.goal-form {
  position: relative;
  margin: auto;
}

/* overlay */
.overlay {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

/* Goal */
.grid-container {
  display: grid;
  grid-row-gap: 15em;
}
